.exit+span{
    font-weight: bold;
    font-size: 20px;
}

header+span{
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    font-weight:bold;
    margin-top: 40px;
    color: rgba(255, 133, 133, 1);
}
.inputbox{
    width: 100%;
    margin-top:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="text"], input[type="password"]{
    box-sizing: border-box;
    width: 91.38%;
    height: 42px;
    border:1px solid rgb(225, 225, 225,1);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 7px;
    padding:16px;
    display: block;
    color: rgba(194, 194, 194, 1);
}
input[type="password"]{
    width: 100%;
    position: relative;
}
label+div{
    position: relative;
    box-sizing: border-box;
    width: 91.38%;
    margin:0 auto;
}
.eye{
    position: absolute;
    width: 18px;
    height: 100%;
    right: 13px;
    top:3px;
    bottom: 0;
    display: flex;
    align-items: center;
}
label{
    margin-left: 21px;
}
input[type="checkbox"]{
    margin-left: 21px;
}
button{
    width: 91.38%;
    height: 41px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 102, 102, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 64px;
}
.check{
    justify-content: start;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 43px;
}
.che>label{
    margin-left:5px;
}

.bottom-div{
    margin-top: 18px;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.find-div{
    display: flex;
    column-gap: 6px;
}